@import "com.less";

body{
    background: #F2F5F8;
    width: 100%;
}
.secondBack{
    width: 100%;
    overflow: hidden;
    height: 360px;
}
.choose,.count{
    width: 1200px;
    margin: 0 auto;
}
.choose{
    // .clearfix();
    // h5,.detail,.switch{
    //     float: left;
    // }
}
.count{
    .clearfix();
    .Cleft,.Cright{
        float: left;
    }
    .child{
        .clearfix(); 
        .left,.right{
            float: left;
        } 
    }
}
