/**个人版样式   */

@import "old.less";
/*头部样式*/
@import "header.less";
@import "com.less";

.allP{
    width: 100%;
    border-top: 20px solid #F8F8F8;
    padding-bottom: 100px;
}
.Acount{
    width: 1200px;
    margin: 0 auto;
}

.m2_t{
.reset();
}

.m2_t {
margin-right: 40px;
}
.m2_t h2 {
font-size: 16px;
font-weight: 700;
height: 24px;
line-height: 24px;
padding-bottom: 18px;
border-bottom: 1px dashed #5EA8F8;
margin-bottom: 18px;
}
.m2_t h2 i {
width: 24px;
height: 24px;
line-height: 24px;
display: inline-block;
padding-right: 20px;
text-align: center;
}
.m2_t h2 i img {
display: inline-block;
line-height: 24px;
vertical-align: middle;
}
.m2_t ul {
font-size: 14px;
color: #000;
margin-bottom: 25px;
}
.m2_t ul li {
padding-top: 6px;
position: relative;
}
.m2_t ul li em {
font-size: 14px;
font-weight: 700;
margin-right: 50px;
}
.m2_t ul .time, .m2_t ul .count {
float: left;
}
.m2_t ul .time {
display: block;
margin-left: 20px;
min-width: 155px;
}
.m2_t ul .time:after {
content: "";
background-color: #5EA8F8;
display: inline-block;
width: 10px;
height: 10px;
border-radius: 10px;
position: absolute;
left: 172px;
}
.m2_t ul .count {
display: block;
float: left;
}
.m2_t ul .count .title {
display: inline-block;
padding-left: 60px;
}
.m2_t ul .count .counts {
width: 763px;
display: block;
border-left: 3px solid #5EA8F8;
padding: 30px 0 35px 60px;
line-height: 25px;
}
.m2_t ul .count {
display: block;
}
.m2_t ul .end .counts {
border: none !important;
}
.m2_t .LCE .count .counts {
padding: 0px 0 15px 60px;
}
.first{
    font-size: 14px;
    line-height: 80px;
    .clearfix();
    margin-top: 20px;
    padding: 0 40px 0 30px;
    .border-radius();
    .m2{
      margin-left: 15px;
    }
    h5{
        font-size: 18px;
        line-height: 80px;
        .cl();
        span{
            font-size: 14px;
            display: inline-block;
            width: 68px;
            height: 30px;
            .border-radius();
            line-height: 30px;
            text-align: center;
            color: #ffffff;
            background: #10A5E9;
            margin-right: 12px;
        }
    }
     height: 80px;
     background: #F5F7F9;
    .left{
        float: left;
    }
    .right{
        float: right;
    }
}
.second{
    margin: 0 auto;
    width: 1150px;
    height: 310px;
    .box-shadow( 0 0 6px rgba(0, 127, 255, 0.26) );
    .border-radius()
}