/**个人版样式   */
.h_first {
  width: 1200px;
  margin: 0 auto;
  height: 85px;
}
.f_right {
  float: right;
}
.f_left {
  margin-top: 20px;
}
.f_left span {
  display: block;
  font-size: 12px;
  color: #333;
  margin-top: 22px;
  line-height: 25px;
  margin-left: 12px;
}
.f_left img,
.f_left span {
  float: left;
}
.f_left em {
  color: #3ebee6;
  font-style: normal;
}
.f_right {
  margin-top: 21px;
}
.f_right .soso {
  display: inline-block;
  width: 70px;
  margin: 0 21px;
  color: #000;
  text-align: center;
  line-height: 37px;
}
.f_right img {
  display: inline-block;
  margin-left: 97px;
  position: relative;
  top: 5px;
}
.f_right .lo {
  color: #333;
  margin: 0 8px;
}
.h_third {
  width: 1200px;
  margin: 0 auto;
}
.h_third ul {
  padding-top: 16px;
  padding-bottom: 34px;
}
.h_third li a span {
  display: block;
  color: #666666;
  font-size: 14px;
  margin-top: 20px;
  line-height: 22px;
  margin-right: 37px;
}
.h_third li a img,
.h_third li a span {
  float: left;
}
.f_right .soso:hover {
  color: red;
  border-bottom: 1px solid red;
  transition: all 0.3s ease-in;
}
/*头部样式*/
.h_first .f_right .nav.nav-pills a {
  font-size: 16px;
  color: #000000;
}
.h_first .f_right .active:hover > a {
  background: #ffffff;
  color: #007fff!important;
}
.h_first .f_right .actives > a {
  background: #ffffff!important;
  color: #007fff!important;
}
.h_first .f_right .active > a {
  background: #ffffff;
  color: #007fff!important;
}
.h_first .f_right .dropdown-menu > li > a {
  font-size: 14px!important;
}
.h_first .f_right .use {
  min-width: 290px;
  /* Reset system css */
  /* HTML5 display-role reset for older browsers */
  /* from reset */
  /* aLink reset */
  text-align: right;
}
.h_first .f_right .use div,
.h_first .f_right .use span,
.h_first .f_right .use applet,
.h_first .f_right .use object,
.h_first .f_right .use iframe,
.h_first .f_right .use h1,
.h_first .f_right .use h2,
.h_first .f_right .use h3,
.h_first .f_right .use h4,
.h_first .f_right .use h5,
.h_first .f_right .use h6,
.h_first .f_right .use p,
.h_first .f_right .use blockquote,
.h_first .f_right .use pre,
.h_first .f_right .use a,
.h_first .f_right .use abbr,
.h_first .f_right .use acronym,
.h_first .f_right .use address,
.h_first .f_right .use big,
.h_first .f_right .use cite,
.h_first .f_right .use code,
.h_first .f_right .use del,
.h_first .f_right .use dfn,
.h_first .f_right .use em,
.h_first .f_right .use img,
.h_first .f_right .use ins,
.h_first .f_right .use kbd,
.h_first .f_right .use q,
.h_first .f_right .use s,
.h_first .f_right .use samp,
.h_first .f_right .use small,
.h_first .f_right .use strike,
.h_first .f_right .use strong,
.h_first .f_right .use sub,
.h_first .f_right .use sup,
.h_first .f_right .use tt,
.h_first .f_right .use var,
.h_first .f_right .use b,
.h_first .f_right .use u,
.h_first .f_right .use i,
.h_first .f_right .use center,
.h_first .f_right .use dl,
.h_first .f_right .use dt,
.h_first .f_right .use dd,
.h_first .f_right .use ol,
.h_first .f_right .use ul,
.h_first .f_right .use li,
.h_first .f_right .use fieldset,
.h_first .f_right .use form,
.h_first .f_right .use label,
.h_first .f_right .use legend,
.h_first .f_right .use table,
.h_first .f_right .use caption,
.h_first .f_right .use tbody,
.h_first .f_right .use tfoot,
.h_first .f_right .use thead,
.h_first .f_right .use tr,
.h_first .f_right .use th,
.h_first .f_right .use td,
.h_first .f_right .use article,
.h_first .f_right .use aside,
.h_first .f_right .use canvas,
.h_first .f_right .use details,
.h_first .f_right .use embed,
.h_first .f_right .use figure,
.h_first .f_right .use figcaption,
.h_first .f_right .use footer,
.h_first .f_right .use header,
.h_first .f_right .use hgroup,
.h_first .f_right .use menu,
.h_first .f_right .use nav,
.h_first .f_right .use output,
.h_first .f_right .use ruby,
.h_first .f_right .use section,
.h_first .f_right .use summary,
.h_first .f_right .use time,
.h_first .f_right .use mark,
.h_first .f_right .use audio,
.h_first .f_right .use video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
.h_first .f_right .use article,
.h_first .f_right .use aside,
.h_first .f_right .use details,
.h_first .f_right .use figcaption,
.h_first .f_right .use figure,
.h_first .f_right .use footer,
.h_first .f_right .use header,
.h_first .f_right .use hgroup,
.h_first .f_right .use menu,
.h_first .f_right .use nav,
.h_first .f_right .use section {
  display: block;
}
.h_first .f_right .use ol,
.h_first .f_right .use ul {
  list-style: none;
}
.h_first .f_right .use blockquote,
.h_first .f_right .use q {
  quotes: none;
}
.h_first .f_right .use blockquote:before,
.h_first .f_right .use blockquote:after,
.h_first .f_right .use q:before,
.h_first .f_right .use q:after {
  content: '';
  content: none;
}
.h_first .f_right .use table {
  border-collapse: collapse;
  border-spacing: 0;
}
.h_first .f_right .use input::-moz-focus-inner {
  border: none;
  padding: 0;
}
.h_first .f_right .use input::-ms-clear {
  display: none;
}
.h_first .f_right .use input,
.h_first .f_right .use select,
.h_first .f_right .use label,
.h_first .f_right .use button {
  padding: 0;
  margin: 0;
  vertical-align: middle;
  border: none;
  background: none;
  font-size: 12px;
  font-family: 'Microsoft Yahei';
}
.h_first .f_right .use input[type="text"],
.h_first .f_right .use input[type="password"],
.h_first .f_right .use textarea {
  outline-style: none;
  -webkit-appearance: none;
}
.h_first .f_right .use textarea {
  resize: none;
}
.h_first .f_right .use input:focus,
.h_first .f_right .use button:focus,
.h_first .f_right .use textarea:focus,
.h_first .f_right .use select:focus {
  outline: none;
}
.h_first .f_right .use a:link,
.h_first .f_right .use a:visited {
  text-decoration: none;
  cursor: pointer;
  outline: none;
  color: #333;
}
.h_first .f_right .use a:hover,
.h_first .f_right .use a:active {
  text-decoration: none;
  -webkit-transition: color 0.1s linear, background-color 0.1s linear;
  -moz-transition: color 0.1s linear, background-color 0.1s linear;
  -o-transition: color 0.1s linear, background-color 0.1s linear;
  -ms-transition: color 0.1s linear, background-color 0.1s linear;
  transition: color 0.1s linear, background-color 0.1s linear;
  cursor: pointer;
}
.h_first .f_right .use .touxiang {
  width: 35px;
  height: 35px;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  -ms-border-radius: 35px;
  -o-border-radius: 35px;
  border-radius: 35px;
}
.h_first .f_right .use > img {
  cursor: pointer;
  width: 35px;
  height: 35px;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  -ms-border-radius: 35px;
  -o-border-radius: 35px;
  border-radius: 35px;
}
.h_first .f_right .use .mes {
  padding-top: 40px;
  position: absolute;
  width: 290px;
  z-index: 10;
  top: 5px;
}
.h_first .f_right .use .mes .mess {
  background: #ffffff;
  text-align: left;
  -webkit-box-shadow: 0 0 6px rgba(15, 14, 14, 0.26);
  -moz-box-shadow: 0 0 6px rgba(15, 14, 14, 0.26);
  -ms-box-shadow: 0 0 6px rgba(15, 14, 14, 0.26);
  -o-box-shadow: 0 0 6px rgba(15, 14, 14, 0.26);
  box-shadow: 0 0 6px rgba(15, 14, 14, 0.26);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
.h_first .f_right .use .cd1 {
  width: 100%;
  height: 85px;
  background: url('/dist/images/iocBack.png') center center;
}
.h_first .f_right .use .cd1 ul {
  *zoom: 1;
}
.h_first .f_right .use .cd1 ul:before,
.h_first .f_right .use .cd1 ul:after {
  display: table;
  content: "";
  line-height: 0;
  overflow: hidden;
}
.h_first .f_right .use .cd1 ul:after {
  clear: both;
}
.h_first .f_right .use .cd1 li {
  float: left;
}
.h_first .f_right .use .cd1 li:nth-of-type(1) {
  width: 60px;
  text-align: center;
  line-height: 85px;
}
.h_first .f_right .use .cd1 li:nth-of-type(2) {
  margin-top: 16px;
  color: #fefefe;
}
.h_first .f_right .use .cd1 li:nth-of-type(2) p:nth-of-type(1) {
  font-size: 14px;
}
.h_first .f_right .use .cd1 li:nth-of-type(2) p:nth-of-type(2) {
  font-size: 12px;
}
.h_first .f_right .use .cd1 li:nth-of-type(3) {
  float: right;
  text-align: right;
  margin-top: 16px;
  margin-right: 14px;
}
.h_first .f_right .use .cd1 li:nth-of-type(3) span {
  width: 68px;
  color: #fefefe;
  height: 18px;
  line-height: 18px;
  text-indent: 8px;
  text-align: center;
  font-size: 12px;
  display: inline-block;
  background: url('/dist/images/vip.png') center center;
}
.h_first .f_right .use .cd1 li:nth-of-type(3) p a {
  display: inline-block;
  margin-top: 30px;
  font-size: 12px;
}
.h_first .f_right .use .cd2 {
  padding: 0 11px;
  border-bottom: 1px solid #E4E8F1;
  padding-bottom: 8px;
}
.h_first .f_right .use .cd2 a {
  font-size: 12px;
  font-weight: 500;
}
.h_first .f_right .use .cd2 div {
  display: inline-block;
  text-align: center;
}
.h_first .f_right .use .cd2 div p {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border: 1px solid #E4E8F1;
  margin: 10px 12px;
}
.h_first .f_right .use .cd3 {
  text-align: right;
  line-height: 30px;
  padding-right: 15px;
}
.h_first .f_right .use .cd3 a {
  font-size: 12px;
  font-weight: 500;
}
.allP {
  width: 100%;
  border-top: 20px solid #F8F8F8;
  padding-bottom: 100px;
}
.Acount {
  width: 1200px;
  margin: 0 auto;
}
.m2_t {
  /* Reset system css */
  /* HTML5 display-role reset for older browsers */
  /* from reset */
  /* aLink reset */
}
.m2_t html,
.m2_t body,
.m2_t div,
.m2_t span,
.m2_t applet,
.m2_t object,
.m2_t iframe,
.m2_t h1,
.m2_t h2,
.m2_t h3,
.m2_t h4,
.m2_t h5,
.m2_t h6,
.m2_t p,
.m2_t blockquote,
.m2_t pre,
.m2_t a,
.m2_t abbr,
.m2_t acronym,
.m2_t address,
.m2_t big,
.m2_t cite,
.m2_t code,
.m2_t del,
.m2_t dfn,
.m2_t em,
.m2_t img,
.m2_t ins,
.m2_t kbd,
.m2_t q,
.m2_t s,
.m2_t samp,
.m2_t small,
.m2_t strike,
.m2_t strong,
.m2_t sub,
.m2_t sup,
.m2_t tt,
.m2_t var,
.m2_t b,
.m2_t u,
.m2_t i,
.m2_t center,
.m2_t dl,
.m2_t dt,
.m2_t dd,
.m2_t ol,
.m2_t ul,
.m2_t li,
.m2_t fieldset,
.m2_t form,
.m2_t label,
.m2_t legend,
.m2_t table,
.m2_t caption,
.m2_t tbody,
.m2_t tfoot,
.m2_t thead,
.m2_t tr,
.m2_t th,
.m2_t td,
.m2_t article,
.m2_t aside,
.m2_t canvas,
.m2_t details,
.m2_t embed,
.m2_t figure,
.m2_t figcaption,
.m2_t footer,
.m2_t header,
.m2_t hgroup,
.m2_t menu,
.m2_t nav,
.m2_t output,
.m2_t ruby,
.m2_t section,
.m2_t summary,
.m2_t time,
.m2_t mark,
.m2_t audio,
.m2_t video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
.m2_t article,
.m2_t aside,
.m2_t details,
.m2_t figcaption,
.m2_t figure,
.m2_t footer,
.m2_t header,
.m2_t hgroup,
.m2_t menu,
.m2_t nav,
.m2_t section {
  display: block;
}
.m2_t html {
  text-size-adjust: none;
}
.m2_t body {
  line-height: 1;
}
.m2_t ol,
.m2_t ul {
  list-style: none;
}
.m2_t blockquote,
.m2_t q {
  quotes: none;
}
.m2_t blockquote:before,
.m2_t blockquote:after,
.m2_t q:before,
.m2_t q:after {
  content: '';
  content: none;
}
.m2_t table {
  border-collapse: collapse;
  border-spacing: 0;
}
.m2_t input::-moz-focus-inner {
  border: none;
  padding: 0;
}
.m2_t input::-ms-clear {
  display: none;
}
.m2_t input,
.m2_t select,
.m2_t label,
.m2_t button {
  padding: 0;
  margin: 0;
  vertical-align: middle;
  border: none;
  background: none;
  font-size: 12px;
  font-family: 'Microsoft Yahei';
}
.m2_t input[type="text"],
.m2_t input[type="password"],
.m2_t textarea {
  outline-style: none;
  -webkit-appearance: none;
}
.m2_t textarea {
  resize: none;
}
.m2_t input:focus,
.m2_t button:focus,
.m2_t textarea:focus,
.m2_t select:focus {
  outline: none;
}
.m2_t a:link,
.m2_t a:visited {
  text-decoration: none;
  cursor: pointer;
  outline: none;
  color: #333;
}
.m2_t a:hover,
.m2_t a:active {
  text-decoration: none;
  -webkit-transition: color 0.1s linear, background-color 0.1s linear;
  -moz-transition: color 0.1s linear, background-color 0.1s linear;
  -o-transition: color 0.1s linear, background-color 0.1s linear;
  -ms-transition: color 0.1s linear, background-color 0.1s linear;
  transition: color 0.1s linear, background-color 0.1s linear;
  cursor: pointer;
}
.m2_t {
  margin-right: 40px;
}
.m2_t h2 {
  font-size: 16px;
  font-weight: 700;
  height: 24px;
  line-height: 24px;
  padding-bottom: 18px;
  border-bottom: 1px dashed #5EA8F8;
  margin-bottom: 18px;
}
.m2_t h2 i {
  width: 24px;
  height: 24px;
  line-height: 24px;
  display: inline-block;
  padding-right: 20px;
  text-align: center;
}
.m2_t h2 i img {
  display: inline-block;
  line-height: 24px;
  vertical-align: middle;
}
.m2_t ul {
  font-size: 14px;
  color: #000;
  margin-bottom: 25px;
}
.m2_t ul li {
  padding-top: 6px;
  position: relative;
}
.m2_t ul li em {
  font-size: 14px;
  font-weight: 700;
  margin-right: 50px;
}
.m2_t ul .time,
.m2_t ul .count {
  float: left;
}
.m2_t ul .time {
  display: block;
  margin-left: 20px;
  min-width: 155px;
}
.m2_t ul .time:after {
  content: "";
  background-color: #5EA8F8;
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  position: absolute;
  left: 172px;
}
.m2_t ul .count {
  display: block;
  float: left;
}
.m2_t ul .count .title {
  display: inline-block;
  padding-left: 60px;
}
.m2_t ul .count .counts {
  width: 763px;
  display: block;
  border-left: 3px solid #5EA8F8;
  padding: 30px 0 35px 60px;
  line-height: 25px;
}
.m2_t ul .count {
  display: block;
}
.m2_t ul .end .counts {
  border: none !important;
}
.m2_t .LCE .count .counts {
  padding: 0px 0 15px 60px;
}
.first {
  font-size: 14px;
  line-height: 80px;
  *zoom: 1;
  margin-top: 20px;
  padding: 0 40px 0 30px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  height: 80px;
  background: #F5F7F9;
}
.first:before,
.first:after {
  display: table;
  content: "";
  line-height: 0;
  overflow: hidden;
}
.first:after {
  clear: both;
}
.first .m2 {
  margin-left: 15px;
}
.first h5 {
  font-size: 18px;
  line-height: 80px;
  font-style: normal;
  font-weight: normal;
  padding: 0;
  margin: 0;
}
.first h5 span {
  font-size: 14px;
  display: inline-block;
  width: 68px;
  height: 30px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  line-height: 30px;
  text-align: center;
  color: #ffffff;
  background: #10A5E9;
  margin-right: 12px;
}
.first .left {
  float: left;
}
.first .right {
  float: right;
}
.second {
  margin: 0 auto;
  width: 1150px;
  height: 310px;
  -webkit-box-shadow: 0 0 6px rgba(0, 127, 255, 0.26);
  -moz-box-shadow: 0 0 6px rgba(0, 127, 255, 0.26);
  -ms-box-shadow: 0 0 6px rgba(0, 127, 255, 0.26);
  -o-box-shadow: 0 0 6px rgba(0, 127, 255, 0.26);
  box-shadow: 0 0 6px rgba(0, 127, 255, 0.26);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
